<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Restaurant</title>
    <link href="<a href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"" rel="nofollow">https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"</a> rel="stylesheet">
    <script src="<a href="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
" rel="nofollow">http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></s...</a>    <style type="text/css">
    	.errortext{
    		color:blue;
    	}
    </style>
</head>
<body ng-controller="myController" ng-init="fetch()">
<div class="container">
    <h1 class="page-header text-center">Restaurant Menu</h1>
    <div class="col-md-2 col-md-offset-1">
    	<h3>Salad</h3>
	<label class="container">Santa Fe
	<input type="checkbox">
	<span class="checkmark"></span>
    </label>{
		    <label class="container">Greek
			<input type="checkbox">
			<span class="checkmark"></span>
		    </label>
		    <label class="container">Asian
			<input type="checkbox">
			<span class="checkmark"></span>
		    </label>
		    <label class="container">Dressing
			<input type="checkbox">
			<span class="checkmark"></span>
		    </label>{
		                    <label class="container">Italian
			                <input type="checkbox">
			                <span class="checkmark"></span>
							</label>
							<label class="container">Blue Cheese
							<input type="checkbox">
							<span class="checkmark"></span>
							</label>
							<label class="container">Ranch
							<input type="checkbox">
							<span class="checkmark"></span>
							</label>
						}
		    <label class="container">Bread {
					<label class="container">Italian</label>
					<label class="container">flat</label>
					<label class="container">Sourdough</label>
			}
			<input type="checkbox">
			<span class="checkmark"></span>
			</label>
		}
	<div class="col-md-6">
	      <h3>Entree</h3>
	<label class="container">Entree
	<input type="checkbox">
	<span class="checkmark"></span>
	</label>{
	        <label class="container">Steak
		    <input type="checkbox">
		    <span class="checkmark"></span>
			</label>
			<label class="container">Salmon
			<input type="checkbox">
			<span class="checkmark"></span>
			</label>
			<label class="container">Rice
			<input type="checkbox">
			<span class="checkmark"></span>
			</label>
	<label class="container">Soup
	<input type="checkbox">
	<span class="checkmark"></span>
    </label>{
	        <label class="container">Minestrone
		    <input type="checkbox">
		    <span class="checkmark"></span>
			</label>
			<label class="container">Hot and Sour
			<input type="checkbox">
			<span class="checkmark"></span>
			</label>
			<label class="container">Miso
			<input type="checkbox">
			<span class="checkmark"></span>
			</label>
			<label class="container">Bread {
					<label class="container">Breadsticks</label>
			}
			<input type="checkbox">
			<span class="checkmark"></span>
			</label>
		}
		
	</div>

				<menu ng-repeat="restaurant">
					{ <salad class="soup"></salad> }
					{ <entree class="entree"></entree> }
					{ <soup class="soup"></soup> }
				
	</div>
	<div class="col-md-2">
		<h3>Confirm your choices and Uncheck where necessary</h3>
		<!-- <checkbox ng-model="checkbox">
			<option ng-repeat="restaurant" value="{{x.checkbox}}">{{x.uncheckbox}}</option>
		</checkbox> -->
		<checkbox ng-model="make choice" ng-options="x.checkmark for x in checkbox" class="form-control">
		<checkbox>
		<hr>
		<p><b>restaurant:</b> {{restaurant.menu}}</p>
		<p><b>choice:</b> {{restaurant.menu}}</p>
		<!-- <p><b>You confirmed your choices</b> {{proceed now}}</p> -->
	</div>
</div>
<script src="angular.js"></script>
</body>
</html>
